.card-poster {
   .img-poster {
      width: 100%;
      height: 325px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      object-fit: cover;

      &.without-info {
         height: auto;
         border-radius: 5px;
      }
   }

   .cp-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 600;
   }

   .poster-info {

      &-wrapper {
         padding: 10px 13px;
      }

      display: flex;
      justify-content: space-between;

      .date-year {
         color: $dark-text-color;
         font-size: 16px;
      }

      .rating {
         display: flex;
         align-items: center;
         justify-content: space-between;

         .star {
            margin-right: 5px;
         }

         &-val {
            font-size: 16px;
         }
      }
   }

   &.is-people {
      img {
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
      }
   }
}

.anchor-link {
   background-color: $dark-color-500;
   display: block;
   color: #fff;
   border-radius: 5px;

   :hover {
      color: #fff;
   }
}