.card-poster {
   .img-poster {
      border-radius: 5px;
      object-fit: cover;
   }

   .cp-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
   }
}