.tabs-custom { 
   ul {
      border-bottom-color: rgba(255, 255, 255, 0.1);
   }

   li {
      &.is-active a {
         border-bottom-color: #fff;
         color: #fff;
      }

      &:not(:last-child) {
         a {
            margin-right: 25px;
         }
      }
   }

   a {
      padding: .5em 0;
      color: $dark-text-color;
      border-bottom-color: transparent;
      border-bottom-width: 2px;
      
      &:hover {
         color: #fff;
         border-bottom-color: transparent;
      }
   }
}

.row-overflow-horizontal {
   overflow-y: hidden;
   overflow-x: auto;
   padding-bottom: 15px;
}


/* ==== DETAIL CONTENT ==== */
.detail-content {
   .header-content {
      position: relative;
      margin: -15px -40px 0 -40px;
      padding: 15px 40px 35px 40px;
      background-size: cover;
      background-position: right -13rem top;
      background-attachment: fixed;
      z-index: 0;

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         // background-color: rgba(0, 0, 0, 0.65);
         background: linear-gradient(to right, #002068 30%, #0044deb5);
         z-index: -1;
      }
   }

   .body-content {
      padding: 25px 0;
   }

   .btn-go-back {
      background-color: transparent;
      border-color: transparent;
      color: #fff;
      padding: 29px 0 35px;
   }
}

.movie-description {
   color: #fff;

   .date-year {
      font-weight: 600;
      font-size: 18px;
   }

   .text-title {
      font-weight: 700;
   }

   .genres-list {
      margin-bottom: 15px;

      a {
         color: #fff;
      }
   }

   .overview {
      margin-bottom: 17px;
   }

   .info-additional {
      display: flex;
      margin-bottom: 17px;

      .item {
         margin-right: 1.85rem;
         display: flex;
         align-items: center;

         &:last-child {
            margin-right: 0;
         }

         .symbol {
            margin-right: 6px;
         }
      }
   }

   .info-credits {
      display: flex;
      align-items: flex-start;
      margin-bottom: 17px;

      .item {
         margin-right: 50px;

         &:last-child {
            margin-right: 0;
         }
      }
   }
}

.card-is-people {
   padding: 15px 30px 25px;
   background-color: $dark-color-500;
   border-radius: 5px;
}

.btn-view-all {
   display: block;
}

.people-info {
   .block-list {
      font-size: 16px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.65);
      margin-bottom: 13px;

      > .value {
         color: $dark-text-color;
         font-weight: 500;
         display: block;
      }

      > ul .value {
         color: $dark-text-color;
         font-weight: 500;
      }
   }
}

.line-info {
   position: absolute;
   top: 18px;
   left: -1px;
   height: calc(100% - 50px);
   width: 1px;
   background-color: rgba(255, 255, 255, 0.1);
}

.m-flex {
   display: flex;
   
   &.space-between {
      justify-content: space-between;
      align-items: center;
   }
}

.loading-wrapper-centered {
   text-align: center;
   padding: 145px 0;
}

.animation-spinner {
   animation-name: spinner;
   animation-duration: 1200ms;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

@-webkit-keyframes spinner {
   from { -webkit-transform: rotate(0deg); }
   to { -webkit-transform: rotate(360deg); }
}
@keyframes spinner {
   from { transform:rotate(0deg); }
   to { transform:rotate(360deg); }
}